<div id="about" class="about-container">
    <div class="background">
        <div class="about-title">about stuckinsteel</div>

        <div class="about-content">
            <!--<img src="/images/IMG_3394.jpg" class="about-image">-->
            <div class="about-text">
                Stuckinsteel is providing the world with reinvented classic cycles from around the Eighties.
                Every cycle is designed and handbuilt in the Netherlands, using premium components exclusively.
                We combine the old solid robustness of steel with modern technology and quality.
                Stuckinsteel represents the pinnacle of true craftmanship and unsurpassed attention to detail.
            </div>
            <br>
            <h2 class="about-title">our story</h2>
            <div class="about-text">
                It all started in late summer 2016. Two friends, Thomas and Sido, shared a persistent passion for timeless design, classic lines and creative structures.
                They started to get eager for creation. Sleepless nights, filled with brainstorm sessions and draught designs, passed along in a small garage near Amsterdam. Eventually, the two got ‘stuck in steel’.
                Unconsciously but surely, the first project was launched. A classic Peugeot race frame from 1980 was disassembled and rebuild into a reinvented nostalgic singlespeed cycle. The result humbled them and more series followed.
                They began to develop a unique style. With a background of product design and engineering management, every cycle is optimised in terms of design and quality.
                Our cycles are equipped with the finest parts, from handbuilt wheels to handpainted details, which perfectly suits the Stuckinsteel aesthetic.

            </div>
            <!--<img src="/images/IMG_3394.jpg" class="about-image">-->
        </div>
    </div>
</div>