
<div class="bike-container">
    <div class="bike-item" *ngFor="let image of images; let i = index">
        <div class="image-container">
            <img class="bike-img" src="{{image.url}}" alt="{{image.title}}">
        </div>
        <div class="bike-details" [ngClass]="{'pull-left': i%2 == 0}">
            <h2 class="bike-title">{{image.title}}</h2>
            <span class="bike-description">{{image.description}}</span>
            <button class="bike-details-button" [routerLink]="['/bike-details', image.id]">Check this bike out</button>
        </div>
    </div>
</div>