<div class="carousel">
    <ul class="slides">
        <li *ngFor="let image of images">
            <img src="{{image.url}}" alt="">
        </li>
    </ul>
    <div class="social-media-icon-container">
        <a href="http://www.facebook.com/stuckinsteel" target="_blank">
            <i class="fa fa-facebook-official social-media-icon" aria-hidden="true"></i>
        </a>
        <a href="http://www.instagram.com/stuckinsteel" target="_blank">
            <i class="fa fa-instagram social-media-icon" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/Stuckinsteel1" target="_blank">
            <i class="fa fa-twitter-square social-media-icon" aria-hidden="true" href="http://www.twitter.com"></i>
        </a>
    </div>
    <img class="carousel-image" src="../../images/logo.png" alt="Mountain View">
</div>