<div class="carousel">
    <ul class="slides">
        <li *ngFor="let image of images">
            <img src="{{image.url}}" alt="">
        </li>
    </ul>

    <div class="carousel-title-text">
        STUCK IN STEEL
    </div>
    <div class="social-media-icon-container">
        <a href="http://www.facebook.com" target="_blank">
            <i class="fa fa-facebook-official social-media-icon" aria-hidden="true"></i>
        </a>
        <a href="http://www.instagram.com" target="_blank">
            <i class="fa fa-instagram social-media-icon" aria-hidden="true"></i>
        </a>
        <a href="http://www.twitter.com" target="_blank">
            <i class="fa fa-twitter-square social-media-icon" aria-hidden="true" href="http://www.twitter.com"></i>
        </a>
    </div>
</div>