<div id="contact" class="contact-container">
    <div class="contact-text-container">
        <h1 class="contact-title">CONTACT</h1>
        <p class="contact-info">If you have any questions or if you want to buy one of our amazing bikes please don't hesitate to contact
            us.</p>
        <div class="input-container">
        <input class="input-field" placeholder="Name">
        <input class="input-field" placeholder="Email">
        <input type="text-area" class="input-field" placeholder="Message" style="height: 170px">
        <input type="button" value="Send message" class="input-button">
        </div>
    </div>
</div>