<div class="footer-container" *ngIf="showFooter">
    <div class="footer-area">
        <div class="footer-title">CONTACT</div>
        <span class="footer-text">
                <i class="fa fa-phone" aria-hidden="true"></i>
                +316 1114663
        </span>
        <span class="footer-text">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                Info@StuckInSteel.com
        </span>
    </div>
    <div class="footer-area">
        <div class="footer-title">FOLLOW US</div>
        <a href="https://www.facebook.com/STUCKINSTEEL/" target="_blank">
            <i class="fa fa-facebook-official social-media-icon" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/stuckinsteel/" target="_blank">
            <i class="fa fa-instagram social-media-icon" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/Stuckinsteel1" target="_blank">
            <i class="fa fa-twitter-square social-media-icon" aria-hidden="true" href="http://www.twitter.com"></i>
        </a>
    </div>
    <!--<div class="footer-area">-->
        <!--<div class="footer-title">CREATED BY</div>-->
        <!--<span class="footer-text">Do you want a website like this?</span>-->
        <!--<a href="http://bike.kcps.nl" target="_blank" style="text-decoration: underline"> www.KCPSoftware.nl </a>-->
    <!--</div>-->

</div>