<div class="gallery-container">
  <div class="background" [ngClass]="{'faded-background': displayLargeImage}" (click)="closeImage()"></div>
    <div class="center-container">
      <h1 class="title">Gallery</h1>
      <div class="gallery-item" *ngFor="let image of images">
        <img class="gallery-image" src="{{image.url}}" alt="{{image.title}}" (click)="enlargeImage(image)">
      </div>
    </div>
</div>

<div class="enlarged-image" *ngIf="displayLargeImage">
    <img class="large-image" src="{{selectedImage.url}}" alt="{{selectedImage.title}}">
    <div class="image-description" *ngIf="selectedImage.title || selectedImage.description">
        <h3 class="image-title">{{selectedImage.title}}</h3>
        <div class="image-description-text">{{selectedImage.description}}</div>
    </div>
</div>