<div class="header-container" (window:scroll)="onScroll()" [ngClass]="{'hidden-header': hideHeader}">
    <div class="header-title" routerLink=""> STUCKINSTEEL
    </div>

    <div class="header-item"  routerLink="/contact">
        CONTACT
    </div>
    <div class="header-item"  routerLink="/about">
        ABOUT US
    </div>
    <div class="header-item" routerLink="/gallery">
       GALLERY
    </div>
    <div class="header-item" routerLink="/bikes">
        PRODUCTS
    </div>
    <div class="header-item" routerLink="">
        HOME
    </div>
    <div class="mobile-header-item">
        <i class="fa fa-bars pull-right" aria-hidden="true" (click)="toggleDropdown()"></i>
        <div class="dropdown" [ngClass]="{'openDropdown': openDropdown}" (click)="toggleDropdown()">
            <a routerLink="" class="dropdown-item">
                <span>HOME</span>
            </a>
            <a routerLink="/bikes" class="dropdown-item">
                <span>PRODUCTS</span>
            </a>
            <a routerLink="/gallery" class="dropdown-item">
                <span>GALLERY</span>
            </a>
            <a routerLink="about" class="dropdown-item" class="dropdown-item">
                <span>ABOUT US</span>
            </a>
            <a routerLink="contact" class="dropdown-item" class="dropdown-item">
                <span>CONTACT</span>
            </a>
        </div>

    </div>
</div>