<div class="header-container">
    <div class="header-title"> Company Name</div>

    <div class="header-item">
        Contact
        <!--<i class="fa fa-envelope-o" aria-hidden="true"></i>-->
    </div>
    <div class="header-item">
        About us
        <!--<i class="fa fa-user" aria-hidden="true"></i>-->
    </div>
    <div class="header-item" routerLink="/bikes">
    <div class="header-item">
        Gallery
    </div>
    <div class="header-item">
        Our bikes
        <!--<i class="fa fa-bicycle" aria-hidden="true"></i>-->
    </div>
    <div class="header-item" routerLink="">
        Home
        <!--<i class="fa fa-envelope-o" aria-hidden="true"></i>-->
    </div>
    </div>
</div>