<div class="header-container" (window:scroll)="onScroll()" [ngClass]="{'hidden-header': hideHeader}">
    <div class="header-title"> STUCK IN STEEL
    </div>

    <div class="header-item">
        CONTACT
    </div>
    <div class="header-item">
        ABOUT US
    </div>
    <div class="header-item" routerLink="/gallery">
       GALLERY
    </div>
    <div class="header-item" routerLink="/bikes">
        OUR BIKES
    </div>
    <div class="header-item" routerLink="">
        HOME
    </div>
    <div class="mobile-header-item">
        <i class="fa fa-bars pull-right" aria-hidden="true" (click)="toggleDropdown()"></i>
        <div class="dropdown" [ngClass]="{'openDropdown': openDropdown}" (click)="toggleDropdown()">
            <a routerLink="" class="dropdown-item">
                <span>HOME</span>
            </a>
            <a routerLink="/bikes" class="dropdown-item">
                <span>OUR BIKES</span>
            </a>
            <a routerLink="/gallery" class="dropdown-item">
                <span>GALLERY</span>
            </a>
            <a class="dropdown-item">
                <span>ABOUT US</span>
            </a>
            <a class="dropdown-item">
                <span>CONTACT</span>
            </a>
        </div>

    </div>
</div>