@font-face {
    font-family: stuckinsteel;
    src: url(../fonts/CopperplateGothicBoldRegular.ttf)
}

.about-container {
    width: 100%;
    color: #c1c4c9;
    background-image: url("images/background-image.jpg");
    background-size: 100%;
    opacity: .92;
    height: 775px;
}

.background {
    opacity: .7;
    background-color: #36393e;
    text-align: center;
    height: 100%;
}

.about-title{
    width: 100%;
    font-size: 35px;
    padding-top: 20px;
    font-family: stuckinsteel;
}

.about-content{
    width: 100%;
    margin-top: 50px;
}

.about-text{
    width: 50%;
    margin-left: 25%;
}

.about-image {
    margin-top: 100px;
    width: 25%;
    float: left;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

@media only screen and (max-width: 1024px) {
    .about-text{
        width: 80%;
        margin-left: 10%;
    }
}