.bike-container{
    width: 100%;
    color: #c1c4c9;
    background-image: url("images/bakground-img.jpg");
    background-size: 100%;
    opacity: .92;
    margin-top: 50px;
}

.bike-img{
    width:100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    margin-top: -130px;
}

.bike-img:hover{
    transform: scale(1.02);
}

.bike-details{
    float: right;
    width: 50%;
    height: 350px;
    position: relative;
    opacity: .7;
    background-color: #36393e;
}

.image-container{
    width: 50%;
    height: 350px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.bike-title{
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 25px;
    font-family: "Copperplate Gothic Bold";
}

.bike-description{
    width: 80%;
    margin-left: 10%;
    display: block;
    margin-top: 35px;
}

.bike-details-button{
    position: absolute;
    bottom: 35px;
    width: 185px;
    margin-left: calc(50% - 92.5px);
    background-color: transparent;
    border: 5px solid #c1c4c9;
    height: 60px;
    transition: 0.5s ease;
}

.bike-details-button:hover{
    background-color: #c1c4c9;
    color: #333333;
}

/*Dit is een beetje vies, miss ooit nog veranderen*/
@media screen and (max-width: 1460px) {
    .bike-img {
        margin-top: 0;
    }
}

@media screen and (max-width: 1060px) {
    .image-container{
        width: 100%;
        height: auto;
    }

    .bike-details{
        width: 100%;
    }
}