.carousel{
    overflow:hidden;
    width:100%;
}
.slides{
    list-style:none;
    position:relative;
    width:500%; /* Number of panes * 100% */
    -moz-animation:carousel 80s infinite;
    -webkit-animation:carousel 80s infinite;
    animation:carousel 80s infinite;
    padding-left: 0;
}

.slides > li{
    position:relative;
    float:left;
    width: 20%; /* 100 / number of panes */
}
.carousel img{
    display:block;
    width:100%;
}

.carousel-title-text {
    position: absolute;
    color: white;
    font-family: copperplate;
    font-size: 125px;
    width: 100%;
    opacity: .5;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (max-width: 1300px) {
    .carousel-title-text{
        font-size: 80px;
    }
}

@keyframes carousel{
    0%    { left:0%; }
    11%   { left:0%; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0%; }
}

