.gallery-container{
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.92;
}

.gallery-container::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(images/bakground-img.jpg);
}

.background{
    height: 100%;
    width: 100%;
    background-color: #36393e;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
}

.faded-background{
    opacity: 0.92;
    background-color: black;
    z-index: 1;
}

.center-container{
    width: 75%;
    margin: auto;
}
.gallery-item{
    float: left;
    width: 24vw;
    height: 24vw;
    border: 1px solid #2e3136;
    overflow: hidden;
    margin-top: 3px;
    margin-left: 3px;
    background-color: #c1c4c9;
}

.gallery-image{
    max-height: 100%;
    margin-left: -5.5vw;
    transition: 0.75s ease;
    cursor: pointer;
}

.gallery-image:hover{
    opacity: 0.8;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -ms-transform: scale(1.05);
}

.title{
    color: #c1c4c9;
}

.enlarged-image{
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 58%;
    position: fixed;
    z-index: 1;
    margin-left: 20%;
}

.large-image{
    width: 100%;
}

.image-description{
    background-color: black;
    width: 100%;
    position: fixed;
    height: 150px;
    bottom: 0;
    opacity: 0.4;
    transition: 1s ease;
}

.enlarged-image:hover  .image-description{
    transition: 1.0s ease;
    opacity: 0.9;
}

.image-title{
    font-weight: 700;
}

.image-description-text{
    width: 80%;
    margin-left: 10%;
}
