.gallery-container{
    width: 100%;
    position: absolute;
    /*background-image: url(images/bakground-img.jpg);*/
    background-color: #36393e;
}

.center-container{
    width: 75%;
    margin: auto;
}
.gallery-item{
    float: left;
    width: 24vw;
    height: 24vw;
    border: 1px solid gray;
    overflow: hidden;
    margin-top: 3px;
    margin-left: 3px;
}

.gallery-img{
    max-height: 100%;
    margin-left: -12.5vw;
    transition: 0.75s ease;
    cursor: pointer;
}

.gallery-img:hover{
    opacity: 0.5;
    transition: 2.75s ease;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    -ms-transform: scale(1.15);

}

.title{
    color: #c1c4c9;
}