.header-container{
    width: 100%;
    background: #2e3136;
    color: #c1c4c9;
    height: 50px;
    font-family: "Copperplate Gothic Bold";
}
.header-title{
    float: left;
    line-height: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    font-size: 25px;
}

.header-item{
    float: right;
    font-size: 17px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    width: 10%;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}

.header-item:hover{
    font-size: 18px;
    color: #dee1e6;
}